/* style.css */

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #6366f1; /* indigo-500 */
  border-radius: 6px;
}

/* Custom transition for dark mode toggle */
html {
  transition: background-color 0.3s, color 0.3s;
}

body {
  font-family: "Inter", sans-serif;
}
